{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Departamento 1</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Brands.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static '/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" style="background-color: #00c2ff;">
        <div class="container-fluid">
            <img id="IconHeaderIndex" style="width: 5%;" src="{% static 'img/IconoEmpresa.png' %}">
            <img id="IconHeaderIndexTexto" style="width: 15%;" src="{% static 'img/IconoEmpresa2.png' %}">
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link linksIndex" href="{% url 'index' %}">Inicio</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link linksIndex" href="#">Nosotros</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link linksIndex" href="#">Contactanos</a></li>
                    {% if user.is_anonymous %}
                    <li class="nav-item d-block d-md-none" role="presentation"><a class="linksIndex" style="color: white;"href="{% url 'login' %}">Iniciar Sesión</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item d-block d-md-none" role="presentation"><a class="linksIndex" style="color: white;"href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if user.is_anonymous %}   
            <div class="d-none d-md-block" style="height: auto; width: 10%;"><a style="color: white;"href="{% url 'login' %}"><img style="height: auto; width: 100%;" src="{% static 'img/Elementos/btnLogin.PNG' %}" alt="btnLogin"></a></div>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="d-none d-md-block" style="text-align: end;">
                <div class="container-fluid"><img style="height: auto; width: 10%;" src="{% static 'img/Elementos/logingicon.png' %}"></div>
                <div><a  style="color: white;"href="#">Usuario: {{ user.username }}</a></div>
                <div><a href="{% url 'logout' %}">Cerrar Sesión</a></div>
            </div>
            {% endif %}
        </div>
    </nav>
    
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url({% static 'img/IconoEmpresa.png' %});"></div>
                <div class="about-me">
                    <p>Hola!, Esperamos que encuentre lo que buscas, recuerda revisar nuestro catalogo de departamentos para tener mas opciones</p><a class="btn btn-outline-primary" role="button" href="#">Ver Catalogo</a></div>
            </div>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'img/nature/image5.jpg' %}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'img/nature/image2.jpg' %}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'img/tech/image4.jpg' %}"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">Hire me</button></div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Web Design</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Interface Design</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Photography and Print</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Website Project</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(&quot;assets/img/tech/image6.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Elements -->
    {% if user.is_anonymous %}   
    <div class="container">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Registrate Gratis!</h5>
        </li>
        <li class="list-inline-item">
          <a href="{% url 'login' %}" class="btn btn-outline-white btn-rounded" style="color: #00c2ff;font-family: cursive;font-weight: 500;font-size: 1.5em;">¡Registrarse!</a>
        </li>
      </ul>
      <!-- Call to action -->
  
    </div>
    {% endif%}
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://TurismoReal.com/"> TurismoReal.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  {% for p in departamento %} 
          <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="static/img/Departamentos/{{p.0}}.jpg" alt="Departamento" class="card-img-top" style="height: 250px !important;">
            <div class="card-body">
              <h5 class="card-title">Departamento ubicado en {{p.6}} </h5>
              <h6 class="card-text text-center"> Detalles departamento</h6>
              <p class="card-text">
                <strong> Precio por dia:</strong> {{p.2}}<br>
                <strong>direccion:</strong> {{p.1}}<br>
                <strong>Cantidad de habitaciones:</strong> {{p.3}}<br>
                <strong>descripcion:</strong> {{p.4}}<br>
                <strong>Estado departamento:</strong> {{p.5}}
              </p>
             <a href="/departamento{{p.0}}" class="btn btn-outline-success btn-sm">Ver más</a>-->
              <!-- <a href="" class="btn btn-outline-danger btn-sm"><svg class="svg-inline--fa fa-heart fa-w-16" aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path></svg><i class="far fa-heart"></i></a> -->
            </div>
           </div>
          </div>
          {% endfor %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="{% static 'js/theme.js'"></script>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>